In [1]:
import pandas as pd
import os
import numpy as np
# from PIL import Image
from utils import *

In [2]:
combined_all_dataframes = get_postProcessedData()

In [3]:
combined_all_dataframes.head()

,Computer_time,Event_time,Participant,Recording,Stimulus_name,Image_n,Repetition_n,Stimulus_n,Event_type,Mouse_X,...,Fixation_X,Fixation_Y,Fixation_X',Fixation_Y',Fixation_in_Image,Fixation_in_Mask,Fixation_duration,Fixation_dist_to_mask_center,Center_mass_X,Center_mass_Y
0,1.481700e+11,101481208.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,TrialStart,NaN,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1,1.481700e+11,101491953.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,954.0,432.0,506.0,276.0,False,False,10745.0,NaN,NaN,NaN
2,1.481703e+11,101775081.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,975.0,435.0,527.0,279.0,False,False,199855.0,NaN,NaN,NaN
3,1.481704e+11,101891664.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,941.0,509.0,493.0,353.0,False,False,66619.0,NaN,NaN,NaN
4,1.481706e+11,102058210.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,954.0,531.0,506.0,375.0,False,False,133236.0,NaN,NaN,NaN

In [4]:
# is true if once fixated in mask per stimulus, otherwise false.
df_bool = combined_all_dataframes[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask']].groupby(by = ['Participant','Stimulus_n']).max()

In [5]:
#check how often people did fixate in the mask, but did not click the change
df_bool[(df_bool.Mouse_in_Mask == False) & (df_bool.Fixation_in_Mask == True)]

#This happened 247/656 times
# TODO: look at visualizations of specific cases where this happened

                         Mouse_in_Mask  Fixation_in_Mask
Participant  Stimulus_n
Participant1 5                   False              True
             8                   False              True
             9                   False              True
             12                  False              True
             16                  False              True
...                                ...               ...
Participant8 23                  False              True
             26                  False              True
             28                  False              True
             30                  False              True
             32                  False              True

[247 rows x 2 columns]

In [6]:
# look at how many participants  did fixate in the mask, but did not click the change.

print(df_bool[(df_bool.Mouse_in_Mask == False) & (df_bool.Fixation_in_Mask == True)].index.get_level_values('Participant').unique())
df_bool[(df_bool.Mouse_in_Mask == False) & (df_bool.Fixation_in_Mask == True)]

Index(['Participant1', 'Participant10', 'Participant11', 'Participant12',
       'Participant13', 'Participant15', 'Participant16', 'Participant17',
       'Participant18', 'Participant19', 'Participant2', 'Participant20',
       'Participant21', 'Participant22', 'Participant3', 'Participant4',
       'Participant5', 'Participant6', 'Participant7', 'Participant8'],
      dtype='object', name='Participant')

                         Mouse_in_Mask  Fixation_in_Mask
Participant  Stimulus_n
Participant1 5                   False              True
             8                   False              True
             9                   False              True
             12                  False              True
             16                  False              True
...                                ...               ...
Participant8 23                  False              True
             26                  False              True
             28                  False              True
             30                  False              True
             32                  False              True

[247 rows x 2 columns]

In [7]:
# check how often people did click the change, but did not fixate the change
df_bool[(df_bool.Mouse_in_Mask == True) & (df_bool.Fixation_in_Mask == False)]

#this did not happen once
# TODO: check if the fixations are only taken before the click or also after/durint?

Empty DataFrame
Columns: [Mouse_in_Mask, Fixation_in_Mask]
Index: []

In [8]:
combined_all_dataframes[~combined_all_dataframes.Response_time.isna()]

,Computer_time,Event_time,Participant,Recording,Stimulus_name,Image_n,Repetition_n,Stimulus_n,Event_type,Mouse_X,...,Fixation_X,Fixation_Y,Fixation_X',Fixation_Y',Fixation_in_Image,Fixation_in_Mask,Fixation_duration,Fixation_dist_to_mask_center,Center_mass_X,Center_mass_Y
245,1.484090e+11,340467488.0,Participant1,Recording11,05_R_filler_present_mirror,5,2,3,MouseClick,1372.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
459,1.484722e+11,403643367.0,Participant1,Recording11,0115_R_window_neither_pot,115,2,6,MouseClick,943.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
700,1.485419e+11,473379272.0,Participant1,Recording11,097_L_mirrorONLY_neither_light,97,1,10,MouseClick,899.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
737,1.485567e+11,488187295.0,Participant1,Recording11,022_L_filler_present_lamp,22,0,11,MouseClick,924.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
860,1.485933e+11,524803235.0,Participant1,Recording11,055_R_filler_absent_carpet,55,1,13,MouseClick,929.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,1.558111e+10,427837973.0,Participant22,Recording32,0118_L_window_neither_shoes,118,0,15,MouseClick,909.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1305,1.570592e+10,552654019.0,Participant22,Recording32,040_R_filler_absent_painting,40,1,20,MouseClick,1295.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1346,1.571748e+10,564214077.0,Participant22,Recording32,049_R_filler_absent_painting,49,0,21,MouseClick,1298.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1753,1.583648e+10,683214122.0,Participant22,Recording32,0112_R_window_neither_basket,112,1,27,MouseClick,1389.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1866,1.586878e+10,715510142.0,Participant22,Recording32,035_L_filler_absent_fruit,35,1,29,MouseClick,1502.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN

In [9]:
# check how often people did click the change, but did not fixate the change
dfTmp = combined_all_dataframes
dfTmp.loc[dfTmp.Mouse_Confirm_Trial == True,'Fixation_in_Mask'] = False
df_bool = dfTmp[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask','Image_n']].groupby(by = ['Participant','Image_n']).max() 

df_bool[(df_bool.Mouse_in_Mask == True) & (df_bool.Fixation_in_Mask == False)]

#this did not happen once
# TODO: check if the fixations are only taken before the click or also after/durint?

                       Stimulus_n  Mouse_in_Mask  Fixation_in_Mask
Participant   Image_n
Participant17 40               20           True             False
Participant5  4                31           True             False
Participant7  5                 5           True             False
              40               27           True             False

In [10]:
dfTmp[dfTmp.Mouse_Confirm_Trial ==True]

,Computer_time,Event_time,Participant,Recording,Stimulus_name,Image_n,Repetition_n,Stimulus_n,Event_type,Mouse_X,...,Fixation_X,Fixation_Y,Fixation_X',Fixation_Y',Fixation_in_Image,Fixation_in_Mask,Fixation_duration,Fixation_dist_to_mask_center,Center_mass_X,Center_mass_Y
46,1.481825e+11,113981119.0,Participant1,Recording11,01_practice_present_plant,1,0,0,TrialStart,NaN,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
47,1.481827e+11,114216097.0,Participant1,Recording11,01_practice_present_plant,1,0,0,Fixation,NaN,...,1277.0,359.0,829.0,203.0,False,False,234978.0,NaN,NaN,NaN
48,1.481830e+11,114499226.0,Participant1,Recording11,01_practice_present_plant,1,0,0,Fixation,NaN,...,750.0,455.0,302.0,299.0,False,False,216510.0,NaN,NaN,NaN
49,1.481832e+11,114665772.0,Participant1,Recording11,01_practice_present_plant,1,0,0,Fixation,NaN,...,1197.0,426.0,749.0,270.0,False,False,99928.0,NaN,NaN,NaN
50,1.481833e+11,114747338.0,Participant1,Recording11,01_practice_present_plant,1,0,0,NaN,431.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,1.593198e+10,778707839.0,Participant22,Recording32,027_R_filler_present_soapdish,27,0,32,Fixation,NaN,...,839.0,585.0,391.0,429.0,True,False,216511.0,576.689146,967.634361,421.051101
2088,1.593236e+10,779090897.0,Participant22,Recording32,027_R_filler_present_soapdish,27,0,32,Fixation,NaN,...,888.0,614.0,440.0,458.0,True,False,356922.0,528.926498,967.634361,421.051101
2089,1.593246e+10,779190103.0,Participant22,Recording32,027_R_filler_present_soapdish,27,0,32,MouseClick,1579.0,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
2090,1.593252e+10,779254616.0,Participant22,Recording32,027_R_filler_present_soapdish,27,0,32,TrialEnd,NaN,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
2091,1.593252e+10,779254616.0,Participant22,Recording32,027_R_filler_present_soapdish,27,0,32,Fixation,NaN,...,705.0,649.0,257.0,493.0,True,False,30482.0,714.267344,967.634361,421.051101

In [11]:
# compare reaction time and size
# first filter on where the mouse clicked in mask
# df_react = combined_all_dataframes[combined_all_dataframes.Mouse_in_Mask == True]
df_react = combined_all_dataframes[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask','Image_n','Response_time']].groupby(by = ['Participant','Image_n']).max()
df_react.reset_index(inplace = True) 


#only look at those where they clicked in the mask
df_react = df_react[df_react.Mouse_in_Mask ==True]

In [12]:
# # load dataset data
dataset_data = load_dataset_data()

## Access size and eccentricity in df_react
image_sub = dataset_data[["Image no.", "size_Right", "ecc_Right"]].rename(columns={"Image no.": "Image_n"})
df_react = pd.merge(df_react, image_sub, how="inner", on="Image_n")

c:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [13]:
# df_react[['Response_time','size_Right']].corr
# df_react['Response_time'].corr(df_react['size_Right'])
df_react['size_Right'] = pd.to_numeric(df_react['size_Right'])
df_react['ecc_Right'] = pd.to_numeric(df_react['ecc_Right'])


# df_react['size_Right'].astype(str).astype(int)

In [14]:
df_bool

                      Stimulus_n  Mouse_in_Mask  Fixation_in_Mask
Participant  Image_n
Participant1 1                 0          False             False
             2                 1          False             False
             4                26          False             False
             5                 3           True              True
             7                 9          False              True
...                          ...            ...               ...
Participant8 115               8          False              True
             116              15           True              True
             118              12          False              True
             120               9           True              True
             122               7          False              True

[656 rows x 3 columns]

In [15]:
df_react[['Response_time','size_Right','ecc_Right']].corr()
#

               Response_time  size_Right  ecc_Right
Response_time       1.000000    0.027730   0.024517
size_Right          0.027730    1.000000   0.173976
ecc_Right           0.024517    0.173976   1.000000

# look at if particpants had a fixation both in object present and object absent

In [16]:
# for odd repetition no
df_odd = combined_all_dataframes[combined_all_dataframes.Repetition_n % 2== 1.0]
df_feat_odd = df_odd[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask','Image_n','Response_time']].groupby(by = ['Participant','Image_n']).max()
df_feat_odd.reset_index(inplace = True) 
# df_feat_odd = df_feat_odd[(df_feat_odd.Mouse_in_Mask == False) & (df_feat_odd.Fixation_in_Mask == True)]

# df_even.shape,df_odd.shape

In [17]:
# for even repetition no
df_even = combined_all_dataframes[combined_all_dataframes.Repetition_n % 2== 0.0]
df_feat_even = df_even[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask','Image_n','Response_time']].groupby(by = ['Participant','Image_n']).max()
df_feat_even.reset_index(inplace = True) 
# df_feat_even = df_feat_even[(df_feat_even.Mouse_in_Mask == False) & (df_feat_even.Fixation_in_Mask == True)]

In [18]:
# make df feat
df_feat = combined_all_dataframes[['Participant','Stimulus_n','Mouse_in_Mask','Fixation_in_Mask','Image_n','Response_time']].groupby(by = ['Participant','Image_n']).max()
df_feat.reset_index(inplace = True)

In [19]:
# add fixation in mask columns
df_feat['fixation_in_mask_even'] = df_feat_even.Fixation_in_Mask
df_feat['fixation_in_mask_odd']  = df_feat_odd.Fixation_in_Mask
df_feat['fixation_in_mask_both'] = (df_feat_even.Fixation_in_Mask == True) & (df_feat_odd.Fixation_in_Mask == True)

In [20]:
df_feat.head()

,Participant,Image_n,Stimulus_n,Mouse_in_Mask,Fixation_in_Mask,Response_time,fixation_in_mask_even,fixation_in_mask_odd,fixation_in_mask_both
0,Participant1,1,0,False,False,NaN,False,False,False
1,Participant1,2,1,False,False,NaN,False,False,False
2,Participant1,4,26,False,False,NaN,False,False,False
3,Participant1,5,3,True,True,9305029.0,True,True,True
4,Participant1,7,9,False,True,NaN,True,False,False

In [21]:
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == True)].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == True)].shape)

df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == True)]

#there are 59 cases where participants fixated the mask both when the object was present and absent, but did not click inside the mask
# and 185 cases where they fixated both and  clicked in the mask

(59, 9)
(185, 9)

,Participant,Image_n,Stimulus_n,Mouse_in_Mask,Fixation_in_Mask,Response_time,fixation_in_mask_even,fixation_in_mask_odd,fixation_in_mask_both
19,Participant1,61,5,False,True,NaN,True,True,True
20,Participant1,64,12,False,True,NaN,True,True,True
23,Participant1,78,25,False,True,NaN,True,True,True
47,Participant10,48,30,False,True,NaN,True,True,True
52,Participant10,61,9,False,True,NaN,True,True,True
59,Participant10,102,21,False,True,NaN,True,True,True
62,Participant10,116,7,False,True,NaN,True,True,True
75,Participant11,27,20,False,True,NaN,True,True,True
84,Participant11,60,32,False,True,NaN,True,True,True
86,Participant11,64,8,False,True,NaN,True,True,True
130,Participant12,120,2,False,True,NaN,True,True,True
151,Participant13,61,9,False,True,NaN,True,True,True
188,Participant15,112,28,False,True,7739977.0,True,True,True
190,Participant15,116,4,False,True,NaN,True,True,True
202,Participant16,25,18,False,True,NaN,True,True,True
211,Participant16,55,6,False,True,NaN,True,True,True
213,Participant16,61,13,False,True,NaN,True,True,True
222,Participant16,115,7,False,True,NaN,True,True,True
226,Participant16,122,16,False,True,NaN,True,True,True
245,Participant17,60,29,False,True,NaN,True,True,True
247,Participant17,64,8,False,True,NaN,True,True,True
259,Participant17,122,14,False,True,NaN,True,True,True
283,Participant18,78,22,False,True,NaN,True,True,True
288,Participant18,115,10,False,True,NaN,True,True,True
292,Participant18,122,7,False,True,NaN,True,True,True
336,Participant2,34,31,False,True,NaN,True,True,True
345,Participant2,61,16,False,True,NaN,True,True,True
346,Participant2,64,3,False,True,NaN,True,True,True
350,Participant2,84,27,False,True,NaN,True,True,True
373,Participant20,48,26,False,True,NaN,True,True,True
378,Participant20,61,15,False,True,NaN,True,True,True
379,Participant20,64,2,False,True,NaN,True,True,True
387,Participant20,115,8,False,True,NaN,True,True,True
406,Participant21,48,30,False,True,NaN,True,True,True
423,Participant21,120,2,False,True,NaN,True,True,True
432,Participant22,22,12,False,True,NaN,True,True,True
434,Participant22,27,32,False,True,NaN,True,True,True
441,Participant22,54,7,False,True,NaN,True,True,True
443,Participant22,60,24,False,True,NaN,True,True,True
453,Participant22,115,3,False,True,NaN,True,True,True
461,Participant3,5,3,False,True,NaN,True,True,True
475,Participant3,55,14,False,True,NaN,True,True,True
489,Participant3,120,2,False,True,NaN,True,True,True
490,Participant3,122,7,False,True,NaN,True,True,True
510,Participant4,61,3,False,True,NaN,True,True,True
520,Participant4,116,14,False,True,NaN,True,True,True
522,Participant4,120,16,False,True,NaN,True,True,True
543,Participant5,61,6,False,True,NaN,True,True,True
556,Participant5,122,4,False,True,NaN,True,True,True
574,Participant6,55,4,False,True,NaN,True,True,True
577,Participant6,64,6,False,True,NaN,True,True,True
580,Participant6,78,20,False,True,NaN,True,True,True
589,Participant6,122,12,False,True,NaN,True,True,True
606,Participant7,54,9,False,True,NaN,True,True,True
608,Participant7,60,22,False,True,NaN,True,True,True
616,Participant7,102,31,False,True,NaN,True,True,True
621,Participant7,120,2,False,True,NaN,True,True,True
651,Participant8,115,8,False,True,NaN,True,True,True
655,Participant8,122,7,False,True,NaN,True,True,True

In [22]:
df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == False)].shape
# there are 66 cases where participants did not fixate in the mask both when the object was present and absent, but still noticed the change

(66, 9)

In [23]:
df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == True)]

,Participant,Image_n,Stimulus_n,Mouse_in_Mask,Fixation_in_Mask,Response_time,fixation_in_mask_even,fixation_in_mask_odd,fixation_in_mask_both
19,Participant1,61,5,False,True,NaN,True,True,True
20,Participant1,64,12,False,True,NaN,True,True,True
23,Participant1,78,25,False,True,NaN,True,True,True
47,Participant10,48,30,False,True,NaN,True,True,True
52,Participant10,61,9,False,True,NaN,True,True,True
59,Participant10,102,21,False,True,NaN,True,True,True
62,Participant10,116,7,False,True,NaN,True,True,True
75,Participant11,27,20,False,True,NaN,True,True,True
84,Participant11,60,32,False,True,NaN,True,True,True
86,Participant11,64,8,False,True,NaN,True,True,True
130,Participant12,120,2,False,True,NaN,True,True,True
151,Participant13,61,9,False,True,NaN,True,True,True
188,Participant15,112,28,False,True,7739977.0,True,True,True
190,Participant15,116,4,False,True,NaN,True,True,True
202,Participant16,25,18,False,True,NaN,True,True,True
211,Participant16,55,6,False,True,NaN,True,True,True
213,Participant16,61,13,False,True,NaN,True,True,True
222,Participant16,115,7,False,True,NaN,True,True,True
226,Participant16,122,16,False,True,NaN,True,True,True
245,Participant17,60,29,False,True,NaN,True,True,True
247,Participant17,64,8,False,True,NaN,True,True,True
259,Participant17,122,14,False,True,NaN,True,True,True
283,Participant18,78,22,False,True,NaN,True,True,True
288,Participant18,115,10,False,True,NaN,True,True,True
292,Participant18,122,7,False,True,NaN,True,True,True
336,Participant2,34,31,False,True,NaN,True,True,True
345,Participant2,61,16,False,True,NaN,True,True,True
346,Participant2,64,3,False,True,NaN,True,True,True
350,Participant2,84,27,False,True,NaN,True,True,True
373,Participant20,48,26,False,True,NaN,True,True,True
378,Participant20,61,15,False,True,NaN,True,True,True
379,Participant20,64,2,False,True,NaN,True,True,True
387,Participant20,115,8,False,True,NaN,True,True,True
406,Participant21,48,30,False,True,NaN,True,True,True
423,Participant21,120,2,False,True,NaN,True,True,True
432,Participant22,22,12,False,True,NaN,True,True,True
434,Participant22,27,32,False,True,NaN,True,True,True
441,Participant22,54,7,False,True,NaN,True,True,True
443,Participant22,60,24,False,True,NaN,True,True,True
453,Participant22,115,3,False,True,NaN,True,True,True
461,Participant3,5,3,False,True,NaN,True,True,True
475,Participant3,55,14,False,True,NaN,True,True,True
489,Participant3,120,2,False,True,NaN,True,True,True
490,Participant3,122,7,False,True,NaN,True,True,True
510,Participant4,61,3,False,True,NaN,True,True,True
520,Participant4,116,14,False,True,NaN,True,True,True
522,Participant4,120,16,False,True,NaN,True,True,True
543,Participant5,61,6,False,True,NaN,True,True,True
556,Participant5,122,4,False,True,NaN,True,True,True
574,Participant6,55,4,False,True,NaN,True,True,True
577,Participant6,64,6,False,True,NaN,True,True,True
580,Participant6,78,20,False,True,NaN,True,True,True
589,Participant6,122,12,False,True,NaN,True,True,True
606,Participant7,54,9,False,True,NaN,True,True,True
608,Participant7,60,22,False,True,NaN,True,True,True
616,Participant7,102,31,False,True,NaN,True,True,True
621,Participant7,120,2,False,True,NaN,True,True,True
651,Participant8,115,8,False,True,NaN,True,True,True
655,Participant8,122,7,False,True,NaN,True,True,True

In [24]:
# look at fixation in mask image present and absent
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == False)].shape)
print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == False)].shape)

(346, 9)
(66, 9)

In [25]:
# look at fixation in mask
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.Fixation_in_Mask == True)].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.Fixation_in_Mask == True)].shape)

(209, 9)
(247, 9)

In [26]:
# look at did not fixate in mask fixation in mask
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.Fixation_in_Mask == False)].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.Fixation_in_Mask == False)].shape)

(196, 9)
(4, 9)

In [27]:
df_feat.columns

Index(['Participant', 'Image_n', 'Stimulus_n', 'Mouse_in_Mask',
       'Fixation_in_Mask', 'Response_time', 'fixation_in_mask_even',
       'fixation_in_mask_odd', 'fixation_in_mask_both'],
      dtype='object')

# logistic regression

In [28]:
# old version of statsmodels: statsmodels 0.12.2
# importing libraries
import statsmodels.api as sm
# import statsmodels as sm
import pandas as pd

In [31]:
# Xtrain = df[['gmat', 'gpa', 'work_experience']]
# ytrain = df[['admitted']]
Xtrain = df_feat[['Fixation_in_Mask','fixation_in_mask_both']]
ytrain = df_feat[['Mouse_in_Mask']]
# building the model and fitting the data
log_reg = sm.Logit(ytrain, Xtrain).fit()

Optimization terminated successfully.
         Current function value: 0.612373
         Iterations 5

In [32]:
print(log_reg.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:          Mouse_in_Mask   No. Observations:                  656
Model:                          Logit   Df Residuals:                      654
Method:                           MLE   Df Model:                            1
Date:                Tue, 06 Dec 2022   Pseudo R-squ.:                 0.07960
Time:                        13:29:33   Log-Likelihood:                -401.72
converged:                       True   LL-Null:                       -436.46
Covariance Type:            nonrobust   LLR p-value:                 7.704e-17
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Fixation_in_Mask         -0.8835      0.151     -5.852      0.000      -1.179      -0.588
fixation_in_mask_both     2.0263      0.212      9.536      0.000       1.610       2.443
=========================================================================================

In [ ]:
# try conditional logit: https://www.statsmodels.org/dev/generated/statsmodels.discrete.conditional_models.ConditionalLogit.html
CLogit = sm.discrete.conditional_models.ConditionalLogit(Xtrain,ytrain)
model = Clogit.fit()

AttributeError: module 'statsmodels.discrete' has no attribute 'conditional_models'

In [48]:
df_feat2 = calculate_features_from_df(combined_all_dataframes, remove_example_trials = True)

WARNING, failed to caluclate for Participant: Participant15 on Image: 35
WARNING, failed to caluclate for Participant: Participant15 on Image: 102
WARNING, failed to caluclate for Participant: Participant15 on Image: 18
WARNING, failed to caluclate for Participant: Participant15 on Image: 84

In [45]:
22*30

660

In [47]:
df_feat2.shape,df_feat.shape

((656, 14), (656, 9))

In [35]:
df_feat2.head()

,Participant,Image_n,Seq_Trial_N,Trial_Start,Response_time,Total_Fixation_count,Count_Fixations_in_mask,Total_Fixation_time_in_mask,Total_Fixation_time_out_mask,Time_of_first_Fixation_in_mask,Min_Dist_to_mask_center,Max_Dist_to_mask_center,Avg_Dist_to_mask_center,Clicked_on_mask
0,Participant1,118,2,Present,NaN,36,0,0.000000,10.705729,NaN,113.348515,470.105050,251.235201,0
1,Participant1,5,3,Present,9305029.0,34,8,2.913738,6.161608,7594559.0,3.821404,730.211619,273.471834,1
2,Participant1,116,4,Present,NaN,46,0,0.000000,10.035142,NaN,79.408721,779.660393,399.347449,0
3,Participant1,61,5,Present,NaN,41,2,0.399712,10.087398,571902.0,32.975438,526.802890,253.561892,0
4,Participant1,115,6,Present,12748102.0,38,5,1.186474,8.768309,11099876.0,16.441238,738.105504,308.287360,1

In [37]:
df_feat2.sort_values(by = ['Participant','Image_n'])

,Participant,Image_n,Seq_Trial_N,Trial_Start,Response_time,Total_Fixation_count,Count_Fixations_in_mask,Total_Fixation_time_in_mask,Total_Fixation_time_out_mask,Time_of_first_Fixation_in_mask,Min_Dist_to_mask_center,Max_Dist_to_mask_center,Avg_Dist_to_mask_center,Clicked_on_mask
24,Participant1,4,26,Absent,NaN,37,0,0.000000,10.586238,NaN,87.392015,694.471618,459.470930,0
1,Participant1,5,3,Present,9305029.0,34,8,2.913738,6.161608,7594559.0,3.821404,730.211619,273.471834,1
7,Participant1,7,9,Absent,NaN,45,3,0.482985,9.607487,12007858.0,28.978577,768.650580,361.780725,0
5,Participant1,9,7,Present,NaN,33,0,0.000000,10.842329,NaN,199.966013,557.935409,327.950207,0
21,Participant1,18,23,Present,9809602.0,33,8,3.551310,5.997836,878290.0,14.002742,804.926566,355.382857,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Participant8,115,8,Present,NaN,30,2,0.699362,9.685105,4299961.0,50.757585,782.649424,367.740114,0
219,Participant8,116,15,Present,12411943.0,25,3,1.879921,7.604722,1726142.0,15.145896,794.079942,395.132867,1
217,Participant8,118,12,Present,NaN,36,1,0.201141,10.156557,1282777.0,24.294942,587.344671,310.276061,0
232,Participant8,120,9,Present,3595120.0,17,11,9.257363,1.200810,1400666.0,9.771338,314.250334,103.076597,1
231,Participant8,122,7,Present,NaN,36,3,1.032400,8.962914,2824424.0,61.800268,612.323830,264.478314,0

In [39]:
df_feat.sort_values(by = ['Participant','Image_n'])

,Participant,Image_n,Stimulus_n,Mouse_in_Mask,Fixation_in_Mask,Response_time,fixation_in_mask_even,fixation_in_mask_odd,fixation_in_mask_both
0,Participant1,1,0,False,False,NaN,False,False,False
1,Participant1,2,1,False,False,NaN,False,False,False
2,Participant1,4,26,False,False,NaN,False,False,False
3,Participant1,5,3,True,True,9305029.0,True,True,True
4,Participant1,7,9,False,True,NaN,True,False,False
...,...,...,...,...,...,...,...,...,...
651,Participant8,115,8,False,True,NaN,True,True,True
652,Participant8,116,15,True,True,12411943.0,True,False,False
653,Participant8,118,12,False,True,NaN,True,False,False
654,Participant8,120,9,True,True,3595120.0,True,True,True
655,Participant8,122,7,False,True,NaN,True,True,True

In [36]:
df_feat.head()

,Participant,Image_n,Stimulus_n,Mouse_in_Mask,Fixation_in_Mask,Response_time,fixation_in_mask_even,fixation_in_mask_odd,fixation_in_mask_both
0,Participant1,1,0,False,False,NaN,False,False,False
1,Participant1,2,1,False,False,NaN,False,False,False
2,Participant1,4,26,False,False,NaN,False,False,False
3,Participant1,5,3,True,True,9305029.0,True,True,True
4,Participant1,7,9,False,True,NaN,True,False,False

In [60]:
df_new = df_feat2.merge(df_feat[['Participant','Image_n','fixation_in_mask_both']], how = 'left',on =['Image_n','Participant'])
df_new = df_new.drop_duplicates()

In [63]:
df_new.head()

,Participant,Image_n,Seq_Trial_N,Trial_Start,Response_time,Total_Fixation_count,Count_Fixations_in_mask,Total_Fixation_time_in_mask,Total_Fixation_time_out_mask,Time_of_first_Fixation_in_mask,Min_Dist_to_mask_center,Max_Dist_to_mask_center,Avg_Dist_to_mask_center,Clicked_on_mask,fixation_in_mask_both
0,Participant1,118,2,Present,NaN,36,0,0.000000,10.705729,NaN,113.348515,470.105050,251.235201,0,False
1,Participant1,5,3,Present,9305029.0,34,8,2.913738,6.161608,7594559.0,3.821404,730.211619,273.471834,1,True
2,Participant1,116,4,Present,NaN,46,0,0.000000,10.035142,NaN,79.408721,779.660393,399.347449,0,False
3,Participant1,61,5,Present,NaN,41,2,0.399712,10.087398,571902.0,32.975438,526.802890,253.561892,0,True
4,Participant1,115,6,Present,12748102.0,38,5,1.186474,8.768309,11099876.0,16.441238,738.105504,308.287360,1,False

In [64]:
df_new.to_csv('fixation_features.csv')

# look at fixation features

In [2]:
combined_all_dataframes = get_postProcessedData()
df_feat = getFixationFeaturesDf(combined_all_dataframes,remove_data_after_spot_c  =True)

single positional indexer is out-of-bounds
WARNING, failed to caluclate for Participant: Participant15 on Image: 35
single positional indexer is out-of-bounds
WARNING, failed to caluclate for Participant: Participant15 on Image: 102
single positional indexer is out-of-bounds
WARNING, failed to caluclate for Participant: Participant15 on Image: 18
single positional indexer is out-of-bounds
WARNING, failed to caluclate for Participant: Participant15 on Image: 84

In [3]:
df_feat.head()

,Participant,Image_n,Seq_Trial_N,Trial_Start,Response_time,Total_Fixation_count,Count_Fixations_in_mask,Total_Fixation_time_in_mask,Total_Fixation_time_out_mask,Time_of_first_Fixation_in_mask,Min_Dist_to_mask_center,Max_Dist_to_mask_center,Avg_Dist_to_mask_center,Clicked_on_mask,fixation_in_mask_both,Fixation_in_Mask,Mouse_in_Mask
0,Participant1,118,2,Present,NaN,36,0,0.000,10705.729,NaN,113.348515,470.105050,251.235201,0,0,0,False
1,Participant1,5,3,Present,9305029.0,28,3,913.470,5945.097,7594559.0,6.201546,730.211619,308.380428,1,1,1,True
2,Participant1,116,4,Present,NaN,46,0,0.000,10035.142,NaN,79.408721,779.660393,399.347449,0,0,0,False
3,Participant1,61,5,Present,NaN,41,2,399.712,10087.398,571902.0,32.975438,526.802890,253.561892,0,1,1,False
4,Participant1,115,6,Present,12748102.0,37,4,1168.177,8768.309,11099876.0,16.441238,738.105504,315.902228,1,0,1,True

In [4]:
# total fixation time mean
print('n',df_feat[df_feat.Mouse_in_Mask].Total_Fixation_time_in_mask.mean())
print('dn',df_feat[~df_feat.Mouse_in_Mask].Total_Fixation_time_in_mask.mean())
# total fixation count mean
print('n',df_feat[df_feat.Mouse_in_Mask].Count_Fixations_in_mask.mean())
print('dn',df_feat[~df_feat.Mouse_in_Mask].Count_Fixations_in_mask.mean())

n 1073.1633466135454
dn 261.96101643835635
n 2.944223107569721
dn 1.2136986301369863

In [5]:
# fixated at least once
print('n',df_feat[df_feat.Mouse_in_Mask].Fixation_in_Mask.sum())
print('dn',df_feat[~df_feat.Mouse_in_Mask].Fixation_in_Mask.sum())

# didnt fixate once
# print('n',df_feat[df_feat.Mouse_in_Mask & df_feat.Fixation_in_Mask ==0].shape)
# print('dn',df_feat[(~df_feat.Mouse_in_Mask) & df_feat.Fixation_in_Mask ==0].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.Fixation_in_Mask == 0)].shape)
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.Fixation_in_Mask == 0)].shape)

# print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.Fixation_in_Mask == 1)].shape)
# print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.Fixation_in_Mask == 1)].shape)

n 251
dn 247
(0, 17)
(118, 17)

In [12]:
# fixated at least once both
print('noticed',df_feat[df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())
print('not noticed',df_feat[~df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())

# didnt fixate both
# print('n',df_feat[df_feat.Mouse_in_Mask & df_feat.Fixation_in_Mask ==0].shape)
# print('dn',df_feat[(~df_feat.Mouse_in_Mask) & df_feat.Fixation_in_Mask ==0].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == 0)].shape)
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == 0)].shape)

noticed 187
not noticed 74
(64, 17)
(291, 17)

In [15]:
# fixated at least once both fixation time mean
# print('n',df_feat[df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())
# print('dn',df_feat[~df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())
print('clicked',df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == 1)].Total_Fixation_time_in_mask.mean())
print('notclicked',df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == 1)].Total_Fixation_time_in_mask.mean())

# didnt fixate both
# print('n',df_feat[df_feat.Mouse_in_Mask & df_feat.Fixation_in_Mask ==0].shape)
# print('dn',df_feat[(~df_feat.Mouse_in_Mask) & df_feat.Fixation_in_Mask ==0].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == 0)].Total_Fixation_time_in_mask.mean())
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == 0)].Total_Fixation_time_in_mask.mean())

clicked 1196.133294117647
notclicked 697.4599054054055
713.8605312500002
151.21559450171813

In [9]:
# fixated at least once both fixation count mean
# print('n',df_feat[df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())
# print('dn',df_feat[~df_feat.Mouse_in_Mask].fixation_in_mask_both.sum())
print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == 1)].Count_Fixations_in_mask.mean())
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == 1)].Count_Fixations_in_mask.mean())

# didnt fixate both
# print('n',df_feat[df_feat.Mouse_in_Mask & df_feat.Fixation_in_Mask ==0].shape)
# print('dn',df_feat[(~df_feat.Mouse_in_Mask) & df_feat.Fixation_in_Mask ==0].shape)

print(df_feat[(df_feat.Mouse_in_Mask == True) & (df_feat.fixation_in_mask_both == 0)].Count_Fixations_in_mask.mean())
print(df_feat[(df_feat.Mouse_in_Mask == False) & (df_feat.fixation_in_mask_both == 0)].Count_Fixations_in_mask.mean())

3.2566844919786098
3.081081081081081
2.03125
0.738831615120275

In [10]:
df_feat.columns

Index(['Participant', 'Image_n', 'Seq_Trial_N', 'Trial_Start', 'Response_time',
       'Total_Fixation_count', 'Count_Fixations_in_mask',
       'Total_Fixation_time_in_mask', 'Total_Fixation_time_out_mask',
       'Time_of_first_Fixation_in_mask', 'Min_Dist_to_mask_center',
       'Max_Dist_to_mask_center', 'Avg_Dist_to_mask_center', 'Clicked_on_mask',
       'fixation_in_mask_both', 'Fixation_in_Mask', 'Mouse_in_Mask'],
      dtype='object')

In [11]:
# distance from center of mass

print(df_feat[(df_feat.Mouse_in_Mask == True) ].Min_Dist_to_mask_center.mean())
print(df_feat[(df_feat.Mouse_in_Mask == False) ].Min_Dist_to_mask_center.mean())

32.766816445746024
80.47037921846795

In [30]:
# question: what matters more, fixation duration/count or fixate both present and absent?

In [14]:
df_feat[df_feat.fixation_in_mask_both ==1].head(20)

,Participant,Image_n,Seq_Trial_N,Trial_Start,Response_time,Total_Fixation_count,Count_Fixations_in_mask,Total_Fixation_time_in_mask,Total_Fixation_time_out_mask,Time_of_first_Fixation_in_mask,Min_Dist_to_mask_center,Max_Dist_to_mask_center,Avg_Dist_to_mask_center,Clicked_on_mask,fixation_in_mask_both,Fixation_in_Mask,Mouse_in_Mask
1,Participant1,5,3,Present,9305029.0,28,3,913.470,5945.097,7594559.0,6.201546,730.211619,308.380428,1,1,1,True
3,Participant1,61,5,Present,NaN,41,2,399.712,10087.398,571902.0,32.975438,526.802890,253.561892,0,1,1,False
8,Participant1,97,10,Absent,5768082.0,19,4,821.733,3337.970,1118727.0,9.110568,461.941139,186.116019,1,1,1,True
9,Participant1,22,11,Absent,3226367.0,13,0,0.000,2153.766,NaN,122.769311,456.866757,259.412607,1,1,1,True
10,Participant1,64,12,Absent,NaN,40,3,843.320,9741.066,694996.0,40.743406,735.153604,346.148156,0,1,1,False
11,Participant1,55,13,Absent,5375836.0,18,6,965.779,3030.347,1131799.0,44.381283,434.190042,197.807330,1,1,1,True
15,Participant1,120,17,Present,2994499.0,9,3,799.236,1278.642,812313.0,21.977367,231.542471,89.295512,1,1,1,True
16,Participant1,35,18,Absent,NaN,42,1,166.547,10138.156,7990383.0,23.997883,785.557259,461.320909,0,1,1,False
21,Participant1,18,23,Present,9809602.0,29,5,993.322,5829.917,878290.0,14.002742,804.926566,388.545072,1,1,1,True
22,Participant1,112,24,Present,7459785.0,25,2,266.284,4963.822,6566600.0,45.078153,691.325043,389.505407,1,1,1,True
23,Participant1,78,25,Absent,NaN,49,2,272.697,9726.020,438600.0,54.314540,644.208422,340.725258,0,1,1,False
25,Participant1,49,27,Present,NaN,45,1,133.238,9968.094,5623923.0,26.858898,755.270922,421.647822,0,1,1,False
26,Participant1,84,28,Present,7720371.0,25,1,106.141,4811.277,6549878.0,64.356741,595.256660,352.009606,1,1,1,True
28,Participant1,40,30,Present,7381420.0,27,5,893.384,4329.038,981231.0,11.153575,645.563801,292.213298,1,1,1,True
31,Participant2,118,7,Present,3783571.0,14,1,216.511,2207.865,1973103.0,36.658445,480.422805,236.106394,1,1,1,True
32,Participant2,5,10,Present,9700024.0,33,4,632.871,6132.227,8680967.0,45.860737,770.953309,392.025210,1,1,1,True
33,Participant2,116,9,Present,7528045.0,24,4,921.598,3861.244,5278600.0,10.372564,738.244968,272.247809,1,1,1,True
34,Participant2,61,16,Present,NaN,52,8,1510.141,7769.983,1726580.0,14.246682,583.521426,248.989394,0,1,1,False
40,Participant2,22,12,Absent,3985107.0,16,5,782.771,1977.723,2810607.0,14.147984,371.123660,140.209948,1,1,1,True
41,Participant2,64,3,Absent,NaN,53,8,1665.465,7482.154,1430009.0,24.604704,674.537626,307.124714,0,1,1,False

In [16]:
combined_all_dataframes.head()

,Computer_time,Event_time,Participant,Recording,Stimulus_name,Image_n,Repetition_n,Stimulus_n,Event_type,Mouse_X,...,Fixation_X,Fixation_Y,Fixation_X',Fixation_Y',Fixation_in_Image,Fixation_in_Mask,Fixation_duration,Fixation_dist_to_mask_center,Center_mass_X,Center_mass_Y
0,1.481700e+11,101481208.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,TrialStart,NaN,...,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN
1,1.481700e+11,101491953.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,954.0,432.0,506.0,276.0,False,False,10745.0,NaN,NaN,NaN
2,1.481703e+11,101775081.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,975.0,435.0,527.0,279.0,False,False,199855.0,NaN,NaN,NaN
3,1.481704e+11,101891664.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,941.0,509.0,493.0,353.0,False,False,66619.0,NaN,NaN,NaN
4,1.481706e+11,102058210.0,Participant1,Recording11,01_practice_absent_plant,1,0,0,Fixation,NaN,...,954.0,531.0,506.0,375.0,False,False,133236.0,NaN,NaN,NaN